<app-header></app-header>
<div class="container d-flex justify-content-center p-3">
  <div class="sign-in-container rounded shadow-sm">
    <form [formGroup]="signinForm" [dir]="textDir" (ngSubmit)="onSubmit()">
      <h1>{{'authentication.signin' | translate}}</h1>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{'authentication.email' | translate}}</mat-label>
        <input matInput formControlName="email">
        <button mat-icon-button matSuffix>
          <mat-icon>face</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{'authentication.password' | translate}}</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div class="d-flex justify-content-between align-items-baseline">
        <div class="text-nowrap">
          <span>{{'authentication.notRegistered' | translate}}</span> <a (click)="navigateToSignup()"
            class="sign-up-link"> {{'authentication.signup' | translate}}</a>
        </div>
        <button class="sign-in-btn" mat-flat-button type="submit">{{'authentication.signin' | translate}}</button>
      </div>
    </form>
  </div>
</div>